/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
    font-family: 'Varela Round';
    src: url('./fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('./fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Montserrat';
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jura', sans-serif;
    color: #FFED00;
}


.category {
    margin-top: 20px;
    margin-bottom: 100px;
    /* Add margin-bottom to create space between blocks */
}

.category ul {
    list-style-type: none;
    padding: 0;
}

.category li {
    margin-bottom: 10px;
}

.category label {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #6894d9;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.category label:hover {
    background-color: #00ccff;
}

.category input[type="radio"] {
    margin-right: 10px;
}

.category-description {
    margin-left: 20px;
    color: #eaddba;
}

.category-info {
    margin-left: 8px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}


.case-studies h2 {
    margin-bottom: 10px;
}

.case-study-card {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    height: 100%;
}

.case-study-card h3 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 16px;
    padding: 20px 20px 0;
}

.case-study-card p {
    color: rgba(255, 255, 255, 0.70);
    font-family: Jura;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    padding: 0 20px 20px;
}

.case-study-card .details {
    margin-top: 15px;
}

.case-study-card .details span {
    display: block;
    color: #fff;
}

.case-study-card .details strong {
    font-weight: bold;
}


.preview-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.preview-btn.cancel {
    background-color: red;
}

.preview-btn.cancel:hover {
    background-color: #c70000;
}

.preview-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.preview-btn.preview:hover:enabled {
    background-color: #45a049;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}


.form-container {
    color: #FFF;
    font-size: 16px;
}

.form-container h2 {
    color: #909090;
    font-size: 22px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 200% */
    font-style: normal;
}


.form-container .error-message,
.form-container .required-fields {
    opacity: 0.6;
    font-size: 1px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input:focus,
.form-group textarea:focus {
    color: #FFF;
}

.form-group label {
    color: #909090;
    font-size: 22px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px; /* 200% */
    margin-top: 30px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: transparent;
    padding: 16px 24px;
    color: #FFF;
    transition: border 300ms ease;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #909090;
}

.form-group input:not(:placeholder-shown),
.form-group textarea:not(:placeholder-shown) {
    border: 1px solid rgba(255, 255, 255, 0.5);
}


.form-group input:placeholder-shown,
.form-group textarea:placeholder-shown {
    border: 1px solid rgba(255, 255, 255, 0.30);
}

.form-group input:focus-visible,
.form-group textarea:focus-visible {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 1);
}

.form-group textarea {
    border-radius: 22px;
    /* height: 200px; */
    resize: none
}

.line-border {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 80px;
    margin-top: 40px;
}

.content {
    /*background-color: #eaf2ff; /* Light blue background color for the content area */
    padding: 20px;
}

body {
    background: radial-gradient(55.8% 55.8% at 50% 74.2%, #0F2B67 0%, #000613 100%);
}


.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c6ea4;
}

.highlight {
    background-color: #191952;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Jura", sans-serif;
}

.typewrite {
    width: fit-content;
    font-size: 52px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 52px */
    letter-spacing: -2.6px;
    background: var(--radial, radial-gradient(70.71% 70.71% at 50% 50%, #0047BB 0%, #41B6E6 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {

    /* line 73, assets/css/base/_base.scss */
    .typewrite {
        font-size: 50px;
        line-height: 80px;
    }
}

/*  ICONMOON */

@font-face {
    font-family: 'icomoon';
    src: url("assets/fonts/icomoon.eot?b362pn");
    src: url("assets/fonts/icomoon.eot?b362pn#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?b362pn") format("truetype"), url("assets/fonts/icomoon.woff?b362pn") format("woff"), url("assets/fonts/icomoon.svg?b362pn#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* define a new css font */
/* line 18, assets/css/base/_icons.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* line 44, assets/css/base/_icons.scss */
.icon-send:before {
    content: "";
}

/* line 49, assets/css/base/_icons.scss */
.icon-plus:before {
    content: "";
}

/* line 54, assets/css/base/_icons.scss */
.icon-arrow:before {
    content: "";
}

/* line 59, assets/css/base/_icons.scss */
.icon-linkedin:before {
    content: "";
}

/* line 64, assets/css/base/_icons.scss */
.icon-twitter:before {
    content: "";
}

/* line 69, assets/css/base/_icons.scss */
.icon-youtube:before {
    content: "";
}


/* Buttons */


.btn {
    display: inline-block;
    padding: 10px 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
    transition: all 0.3s ease;
    font-weight: 600;
    font-family: 'Jura', sans-serif;
}

/* line 24, assets/css/base/_buttons.scss */
.btn:hover {
    text-decoration: none;
}

/* line 32, assets/css/base/_buttons.scss */
.btn:focus,
.btn:active {
    text-decoration: none;
}

.btn-default {
    background: radial-gradient(43.6% 43.6% at 49.98% 100.45%, #41B6E6 0%, #0047BB 55%, #003399 100%);
    padding: 15px 30px;
    color: #FFFFFF;
    position: relative;
}

/* line 67, assets/css/base/_buttons.scss */
.btn-default i {
    font-size: 10px;
    color: #FFED00;
    margin-left: 5px;
}

/* line 73, assets/css/base/_buttons.scss */
.btn-default:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 53.65%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

@media (min-width: 992px) {

    /* line 88, assets/css/base/_buttons.scss */
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active {
        background: radial-gradient(43.6% 43.6% at 49.98% 100.45%, #FFFAB8 0%, #FFED00 55%, #E6D502 100%);
        color: #0047BB;
    }

    /* line 100, assets/css/base/_buttons.scss */
    .btn-default:hover i,
    .btn-default:focus i,
    .btn-default:active i {
        color: #0047BB;
    }
}

.btn-grey {
    background-color: #C5C6C8;
    border: 1px solid transparent;
    color: #000613;
    font-weight: 500;
    transition: all 300ms ease;
}

@media (min-width: 992px) {

    /* line 46, assets/css/base/_buttons.scss */
    .btn-grey:hover,
    .btn-grey:focus,
    .btn-grey:active {
        border-color: #C5C6C8;
        background-color: transparent;
    }
}

.btn-grey-underline {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.20);;
    color: #909090;
    font-weight: 500;
    transition: all 300ms ease;
    pointer-events: none;
}

.btn-blue {
    background-color: #0047BB;
    color: #FFFFFF;
    position: relative;
}

/* line 116, assets/css/base/_buttons.scss */
.btn-blue i {
    font-size: 10px;
    color: #FFED00;
    margin-left: 5px;
}

/* line 122, assets/css/base/_buttons.scss */
.btn-blue:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 53.65%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

@media (min-width: 992px) {

    /* line 137, assets/css/base/_buttons.scss */
    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active {
        background-color: #FFED00;
        color: #000613;
    }

    /* line 149, assets/css/base/_buttons.scss */
    .btn-blue:hover i,
    .btn-blue:focus i,
    .btn-blue:active i {
        color: #000613;
    }
}

/* line 156, assets/css/base/_buttons.scss */
.btn-primary {
    background-color: #FFED00;
    color: #0047BB;
    position: relative;
}

/* line 165, assets/css/base/_buttons.scss */
.btn-primary i {
    font-size: 10px;
    color: #0047BB;
    margin-left: 5px;
}

/* line 171, assets/css/base/_buttons.scss */
.btn-primary:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding: 2px;
    background: linear-gradient(180deg, rgba(130, 120, 0, 0.25) 0%, rgba(130, 120, 0, 0.125) 53.65%, rgba(130, 120, 0, 0) 100%);
    -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

@media (min-width: 992px) {

    /* line 185, assets/css/base/_buttons.scss */
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
        background-color: #0047BB;
        color: #FFED00;
    }

    /* line 196, assets/css/base/_buttons.scss */
    .btn-primary:hover i,
    .btn-primary:focus i,
    .btn-primary:active i {
        color: #FFED00;
    }
}

/* line 205, assets/css/base/_buttons.scss */
.btn-secondary {
    background-color: #6DD5FF;
    color: #0047BB;
    position: relative;
}

/* line 215, assets/css/base/_buttons.scss */
.btn-secondary:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    padding: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.125) 53.65%, rgba(255, 255, 255, 0.00280899) 99.99%, rgba(130, 120, 0, 0) 100%);
    -webkit-mask: linear-gradient(#fff, #fff) content-box, linear-gradient(#fff, #fff);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

@media (min-width: 992px) {

    /* line 229, assets/css/base/_buttons.scss */
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active {
        background-color: #FFFFFF;
        color: #0047BB;
    }
}

/* line 242, assets/css/base/_buttons.scss */
.btn-secondary--yellow {
    background-color: #FFED00;
}

/* line 245, assets/css/base/_buttons.scss */
.btn-secondary--yellow:before {
    background: linear-gradient(180deg, rgba(130, 120, 0, 0.25) 0%, rgba(130, 120, 0, 0.125) 53.65%, rgba(130, 120, 0, 0) 100%);
}

/* line 251, assets/css/base/_buttons.scss */
.btn-success {
    border: 1px solid #FFED00;
    background-color: transparent;
    color: #FFED00;
}

@media (min-width: 992px) {

    /* line 259, assets/css/base/_buttons.scss */
    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active {
        border: 1px solid #FFED00;
        background-color: #FFED00;
        color: #0047BB;
    }
}

/* line 272, assets/css/base/_buttons.scss */
.btn-success--grey {
    border-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 0.6;
    transition: opacity 300ms ease;
}

/* line 278, assets/css/base/_buttons.scss */
.btn-success--grey i {
    color: #FFFFFF;
    font-size: 10px;
    display: inline-block;
    transform: rotate(90deg);
}

@media (min-width: 992px) {

    /* line 285, assets/css/base/_buttons.scss */
    .btn-success--grey:hover,
    .btn-success--grey:focus,
    .btn-success--grey:active {
        color: #FFFFFF !important;
        opacity: 1 !important;
        background-color: transparent !important;
        border-color: #FFFFFF !important;
    }
}


.mb-40 {
    margin-bottom: 40px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.text-right {
    text-align: right;
}

.counter-container {
    display: flex;
    align-items: center;
    margin: 80px 0;
}

.counter-container span {
    color: #FFF;
    font-size: 96px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -4.8px;
}

.counter-container p {
    color: #909090;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
    margin: 10px 0 0 10px;
}

.case-study h3 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 28.8px */
    margin-top: 60px;
}

.case-study a:not(.btn-default) {
    color: #41B6E6;
}


@media (max-width: 769px) {
    .line-border {
        margin-bottom: 60px;
        margin-top: 40px;
    }

    .pt-100 {
        padding-top: 50px;
    }

    .pb-100 {
        padding-bottom: 50px;
    }

}

@media (max-width: 769px) {
    .button-container {
        justify-content: flex-start;
        margin-top: 20px;
    }

    .typewrite {
        font-size: 54px;
        line-height: 1;
        width: min-content;
    }
}


.cdk-overlay-pane {
    width: 800px !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent !important;
}

.mt-80 {
    margin-top: 80px;
}


.mt-50 {
    margin-top: 50px;
}


.radio-container,
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-select-item label input {
    width: 16px;
    margin-right: 10px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radio-container .checkmark {
    border-radius: 50%;
}

.checkbox-container .checkmark,
.radio-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #FFF;
    border: 1px solid #ABB5BE;
}


.radio-container:hover input ~ .checkmark,
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.radio-container input:checked ~ .checkmark,
.checkbox-container input:checked ~ .checkmark {
    background-color: #41B6E6;
    border: 1px solid #41B6E6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.radio-container input:checked ~ .checkmark:after,
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.radio-container .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.checkbox-container .checkmark:after {
    top: 50%;
    left: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

@media (max-width: 992px) {
    .mt-80 {
        margin-top: 40px;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px 24px;
    }

    .form-group label {
        font-size: 18px;
        margin-bottom: 24px;
        margin-top: 20px;
    }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
