<!-- 
<h1>Industry Sector</h1>

<div class="category">
  <ul class="category-grid">
    <li *ngFor="let industrySector of industrySectors" [class.selected-industry]="industrySector === selectedIndustrySector">
      <label>
        <input type="radio" [value]="industrySector" [(ngModel)]="selectedIndustrySector" (change)="onIndustrySectorSelected(industrySector)">
        <div class="category-info">
          <div> <strong>{{ industrySector.title }} </strong></div>
          <div class="thumbnail-container">
            <img *ngIf="industrySector.image_url.length > 0" [src]="industrySector.image_url" alt="Thumbnail" class="thumbnail">
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>

<div class="category" *ngIf="caseStudies.length > 0">
<h1>Application Areas</h1>
  <ul class="category-grid">
    <li *ngFor="let applicationArea of applicationAreas">
      <label>
        <input type="radio" [value]="applicationArea" [(ngModel)]="selectedApplicationArea" (change)="onApplicationAreaSelected(applicationArea)">
        <div class="category-info">
          <strong>{{ applicationArea.title }}</strong>
        </div>
      </label>
    </li>
  </ul>
</div>


<div class="case-studies" *ngIf="selectedApplicationArea">
  <h2>Succes Stories for {{ selectedIndustrySector.title }} and {{ selectedApplicationArea.title }}</h2>
  <div class="category-description">{{ selectedIndustrySector.description }}</div>
  <div class="category-description">{{ selectedApplicationArea.description }}</div>
  <p>Total Succes Stories: {{ totalCaseStudies }}</p>
  <div class="case-study-grid">
    <div class="case-study-card" *ngFor="let caseStudy of caseStudies" (click)="navigateToCaseStudy(caseStudy.identifier)">
      <h3>{{ caseStudy.title }}</h3>
      <p>{{ caseStudy.summary }}</p>
      <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail" class="thumbnail">
    </div>
  </div>
</div>
 -->

<!-- NOVO -->

<div class="case-studies">
    <div class="banner">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-1">
                <span>Realizing the Vision:</span>
                <h1 class="typewrite">Industry and Application Areas</h1>
            </div>
            <div class="col-12 col-md-5">
            </div>
        </div>
    </div>
    <div class="filter-container">
        <div class="row">
            <div class="col-12">
                <button (click)="toggleFilters()" class="toggle-button">
                    <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.9999 2.25H1.99988L7.99988 9.345V14.25L10.9999 15.75V9.345L16.9999 2.25Z"
                              stroke="#FFED00"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Filter Success Stories by <strong>Industry Sector</strong> or <strong>Application Areas</strong>
                </button>
            </div>
        </div>
        <div *ngIf="showFilters">
            <div class="row filter-results">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="filter-columns">
                        <div class="filter-column">
                            <h3>Industry Sector</h3>
                            <div class="filter-column-content">
                                <div *ngFor="let industrySector of industrySectors"
                                     [class.selected-industry]="industrySector === selectedIndustrySector"
                                     class="filter-item list-select-item">
                                    <label>
                                        <div class="radio-container">
                                            <input (change)="onIndustrySectorSelected(industrySector)" [(ngModel)]="selectedIndustrySector"
                                                   [value]="industrySector"
                                                   type="radio">
                                            <span class="checkmark"></span>
                                        </div>
                                        {{ industrySector.title }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="caseStudies.length > 0" class="row filter-results">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="filter-columns">
                        <div class="filter-column">
                            <h3>Application Areas</h3>
                            <div class="filter-column-content">
                                <div *ngFor="let applicationArea of applicationAreas"
                                     class="filter-item list-select-item">
                                    <label>
                                        <div class="radio-container">
                                            <input (change)="onApplicationAreaSelected(applicationArea)" [(ngModel)]="selectedApplicationArea"
                                                   [value]="applicationArea"
                                                   type="radio">
                                            <span class="checkmark"></span>
                                        </div>
                                        {{ applicationArea.title }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="selectedApplicationArea" class="case-study-grid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="counter-container">
                    <span>{{ totalCaseStudies }}</span>
                    <p>Total Success <br>Stories</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div (click)="navigateToCaseStudy(caseStudy.identifier)" *ngFor="let caseStudy of caseStudies"
                 class="col-12 col-md-4 mb-40">
                <div class="case-study-card">
                    <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail"
                         class="thumbnail">
                    <h3>{{ caseStudy.title }}</h3>
                    <p>{{ caseStudy.summary }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
