<div class="form-container">
    <h2>Create Research Area</h2>

    <p class="required-fields">Fields marked with <span class="asterisk">*</span> are required.</p>

    <form #researchAreaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title <span class="asterisk">*</span></label>
            <input [(ngModel)]="researchArea.title" [disabled]="showPreview" id="title" name="title" required
                   type="text">
            <p *ngIf="researchAreaForm.controls['title'].invalid && researchAreaForm.controls['title'].touched"
               class="error-message">
                Title is required.
            </p>
        </div>
        <div class="form-group">
            <label for="description">Description <span class="asterisk">*</span></label>
            <textarea [(ngModel)]="researchArea.description" [disabled]="showPreview" id="description" name="description"
                      required></textarea>
            <p *ngIf="researchAreaForm.controls['description'].invalid && researchAreaForm.controls['description'].touched"
               class="error-message">
                Description is required.
            </p>
        </div>

        <!-- Add other form fields as needed -->

        <button (click)="previewResearchArea()" [disabled]="!researchAreaForm.valid && !showPreview"
                class="preview-btn {{ showPreview ? 'cancel' : 'preview' }}"
                type="button">{{ showPreview ? 'Cancel' : 'Preview Research Area' }}</button>

        <div *ngIf="showPreview" class="preview-section">
            <h3>Research Area Preview:</h3>
            <p><strong>Title:</strong> {{ researchArea.title }}</p>
            <p><strong>Description:</strong> {{ researchArea.description }}</p>

            <!-- Add other preview fields as needed -->

            <button class="submit-btn" type="submit">Confirm</button>
        </div>
    </form>
</div>