.case-study {
    margin-bottom: 90px;
}

.case-study .banner {
    margin-top: 300px;
    margin-bottom: 150px;
}

.case-study .banner span {
    color: #909090;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 22.4px */
}

.case-study-container {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
}


.case-study h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 50px;
}


.case-study a:not(.btn-default) {
    color: #41B6E6;
    text-decoration: none;
}

.case-study .highlight {
    color: rgba(255, 255, 255, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    background-color: transparent;
    margin-bottom: 50px;

}

.areas-container .areas button {
    margin-bottom: 10px;
}

.areas-container {
    display: flex;
    margin-bottom: 85px;
}

.areas-container .areas {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
}

.areas-container .areas p {
    color: #FFED00;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
}

.gallery {
    display: flex;
    margin-top: 20px;
}

.thumbnail-container {
    margin-right: 20px;
}

.thumbnail {
    width: 180px;
    height: 110px;
    object-fit: cover;
    border-radius: 19px;
}

.manage-button-container {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.edit-button {
    margin-right: 10px;
}

.manage-button-container button:hover svg path {
    stroke: #0047BB;
}

.highlight-image {
    border-radius: 20px;
    width: 100%;
    height: auto;
    max-height: 460px;
    border: none;
    margin-bottom: 20px;
}

.data-content ul {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    margin-top: 20px;
}

.data-content ul li {
    list-style: none;
    padding: 6px 16px;
    border-radius: 9999px;
    border: 1px solid #FFF;
    opacity: 0.6;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    margin-right: 10px;
}

.case-study-bottom {
    display: flex;
    margin-top: 150px;
    align-items: baseline;
}

.case-study-bottom-content {
    margin-right: 40px;
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

.case-study-bottom-content span {
    color: #FFED00;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    display: block;
}

.case-study-bottom-content p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}


