<div *ngIf="caseStudy" class="case-study">
    <div class="banner">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-1">
                <span>Home . Success Stories</span>
                <h1 class="typewrite">AI4Europe</h1>
            </div>
            <div class="col-12 col-md-5">
                <div class="manage-button-container">
                    <button (click)="editCaseStudy()" class="edit-button btn btn-default">
                        Edit
                        <svg fill="none" height="14" viewBox="0 0 14 14" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 11.6666H12.25" stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                            <path
                                    d="M9.625 2.04164C9.85706 1.80957 10.1718 1.6792 10.5 1.6792C10.6625 1.6792 10.8234 1.71121 10.9735 1.77339C11.1237 1.83558 11.2601 1.92673 11.375 2.04164C11.4899 2.15654 11.5811 2.29296 11.6432 2.44309C11.7054 2.59322 11.7374 2.75413 11.7374 2.91664C11.7374 3.07914 11.7054 3.24005 11.6432 3.39018C11.5811 3.54032 11.4899 3.67673 11.375 3.79164L4.08333 11.0833L1.75 11.6666L2.33333 9.3333L9.625 2.04164Z"
                                    stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <button (click)="onSubmit()">
                        Confirm
                        <svg fill="none" height="14" viewBox="0 0 14 14" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.75 3.5H2.91667H12.25" stroke="#FFED00" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path
                                    d="M11.0837 3.49996V11.6666C11.0837 11.976 10.9607 12.2728 10.7419 12.4916C10.5232 12.7104 10.2264 12.8333 9.91699 12.8333H4.08366C3.77424 12.8333 3.47749 12.7104 3.2587 12.4916C3.03991 12.2728 2.91699 11.976 2.91699 11.6666V3.49996M4.66699 3.49996V2.33329C4.66699 2.02387 4.78991 1.72713 5.0087 1.50833C5.22749 1.28954 5.52424 1.16663 5.83366 1.16663H8.16699C8.47641 1.16663 8.77316 1.28954 8.99195 1.50833C9.21074 1.72713 9.33366 2.02387 9.33366 2.33329V3.49996"
                                    stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="case-study-container">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <h2>{{ caseStudy.title }}</h2>

                <p class="highlight">{{ caseStudy.summary }}</p>
                <div class="areas-container">
                    <div class="areas">
                        <p>Industry Sectors:</p>
                        <button *ngFor="let sector of industrySectors" class="btn btn-grey-underline">
                            {{ sector.title }}
                        </button>
                    </div>
                    <div class="areas">
                        <p>Application Areas:</p>
                        <button *ngFor="let area of applicationAreas" class="btn btn-grey-underline">
                            {{ area.title }}
                        </button>
                    </div>
                    <div class="areas">
                        <p>Research Areas:</p>
                        <button *ngFor="let area of researchAreas" class="btn btn-grey-underline">
                            {{ area.title }}
                        </button>
                    </div>
                </div>
                <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail"
                     class="thumbnail highlight-image">
                <div [innerHTML]="sanitizeDescription(caseStudy.description)" class="case-study-content"></div>

                <div *ngIf="caseStudy.keywords.length > 0" class="data-content">
                    <h3>Keywords:</h3>
                    <ul>
                        <li *ngFor="let keyword of caseStudy.keywords">
                            {{ keyword}}
                        </li>
                    </ul>
                </div>
                <!-- <div *ngIf="caseStudy.datasets_ids.length > 0" class="data-content">
                    <h3>Datasets:</h3>
                    <ul>
                        <li *ngFor="let datasetId of caseStudy.datasets_ids">
                            {{ datasets[datasetId].name || datasetId }} : {{datasets[datasetId].description}}
                        </li>
                    </ul>
                </div> -->
                <div *ngIf="caseStudy.mediaurls.length > 0" class="data-content">
                    <h3>Media:</h3>
                    <div class="gallery">
                        <div *ngFor="let mediaUrl of caseStudy.mediaurls" class="thumbnail-container">
                            <a [href]="normalizeURL(mediaUrl)" target="_blank">
                                <img [src]="mediaUrl" alt="Thumbnail" class="thumbnail">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <p><strong>Publications:</strong>
                <ul>
                   <li *ngFor="let publicationId of caseStudy.publications_ids">
                      {{ publications[publicationId].title || publicationId }}
                   </li>
                </ul> -->
                <div class="case-study-bottom">
                    <div class="case-study-bottom-content">
                        <p><span>Publisher</span> {{ caseStudy.publisher }}</p>
                    </div>
                    <div class="case-study-bottom-content">
                        <p><span>Date Published</span> {{ caseStudy.datePublished | date: 'medium' }}</p>
                    </div>
                    <div class="case-study-bottom-content">
                        <p><span>Date Modified</span> {{ caseStudy.dateModified | date: 'medium' }}</p>
                    </div>
                    <div class="case-study-bottom-content">
                        <a [href]="normalizeURL(caseStudy.website)" class="btn btn-default" target="_blank">Visit
                            website <i class="icon-arrow"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>