<h1>Industry Sector</h1>

<div class="category">
    <ul class="category-grid">
        <li *ngFor="let industrySector of industrySectors"
            [class.selected-industry]="industrySector === selectedIndustrySector">
            <label>
                <input (change)="onIndustrySectorSelected(industrySector)" [(ngModel)]="selectedIndustrySector" [value]="industrySector"
                       type="radio">
                <div class="category-info">
                    <div><strong>{{ industrySector.title }} </strong></div>
                    <div class="thumbnail-container">
                        <img *ngIf="industrySector.image_url.length > 0" [src]="industrySector.image_url"
                             alt="Thumbnail" class="thumbnail">
                    </div>
                </div>
            </label>
        </li>
    </ul>
</div>

<div *ngIf="selectedIndustrySector" class="case-studies">
    <h2>Success Stories for {{ selectedIndustrySector.title }}</h2>
    <div class="category-description">{{ selectedIndustrySector.description }}</div>
    <div class="caregory-image"><img *ngIf="selectedIndustrySector.image_url.length > 0"
                                     [src]="selectedIndustrySector.image_url" alt="Thumbnail" class="thumbnail"></div>
    <p>Total Success Stories: {{ totalCaseStudies }}</p>
    <div class="case-study-grid">
        <div (click)="navigateToCaseStudy(caseStudy.identifier)" *ngFor="let caseStudy of caseStudies"
             class="case-study-card">
            <h3>{{ caseStudy.title }}</h3>
            <p>{{ caseStudy.summary }}</p>
            <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail"
                 class="thumbnail">
            <!-- Add other case study details as needed -->
        </div>
    </div>
</div>
