h2 {
    font-weight: 300;
    font-size: 54px;
    line-height: 1;
    color: #fff;
    margin-bottom: 48px;
}

.homepage {
    color: white;
}

.homepage p {
    font-size: 18px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}

.homepage p.gradient-text {
    margin-bottom: 22px;
    font-size: 14px;
}

.homepage .line-border {
    background: linear-gradient(180deg, #3F4551 0%, rgba(63, 69, 81, 0.00) 100%);
    height: 1px;
    border-bottom: none;
}

.homepage .gradient-text {
    font-size: 52px;
    background: linear-gradient(90deg, #0047BB 0%, #41B6E6 51.04%, #FFED00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    line-height: 100%; /* 52px */
    letter-spacing: -2.6px;
}

.homepage span:not(.wrap) {
    color: #E3E5E8;
    opacity: 0.5;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
}

@media (max-width: 991px) and (min-width: 768px) {

    .homepage .how-it-works {
        padding-bottom: 100px;
    }
}

.homepage .how-it-works p {
    color: #FFF;
    font-size: 28px;
    line-height: 1.4;
    font-weight: 300;
    margin-top: 60px;
}

.homepage .how-it-works .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.homepage .how-it-works .image-container img {
    margin: 15px 0;
    border-radius: 20px;
}

.homepage .featured-products {
    padding-top: 200px;
}

@media (max-width: 991px) {

    .homepage .featured-products {
        padding-top: 0;
    }
}


.homepage .featured-products-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 50px;
    overflow: hidden;
}

@media (max-width: 991px) {

    .homepage .featured-products-item {
        padding: 30px 20px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.homepage .featured-products-item img {
    height: 160px;
}

@media (max-width: 991px) {

    .homepage .featured-products-item img {
        height: 140px;
    }
}

.homepage .featured-products-item-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 28px;
    color: #FFED00;
    margin-bottom: 16px;
    margin-top: 30px;
}

@media (max-width: 991px) {

    .homepage .featured-products-item-title {
        font-size: 24px;
    }
}

.homepage .featured-products-item p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

@media (max-width: 991px) {

    .homepage .featured-products-item p {
        font-size: 16px;
        line-height: 1.4;
    }
}

.homepage .featured-products-item > * {
    opacity: 0;
    transition: .8s;
}


.homepage .highlights {
    padding-top: 200px;
}

@media (max-width: 991px) {

    .homepage .highlights-item {
        min-height: 500px;
    }
}

.homepage .highlights-item-title {
    color: #E3E5E8;
}

@media (max-width: 991px) {

    .homepage .highlights-item-title {
        color: #FFFFFF;
    }
}

.homepage .highlights-item p,
.homepage .highlights-item-text {
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 991px) {

    .homepage .highlights-item p,
    .homepage .highlights-item-text {
        font-size: 16px;
        line-height: 1.4;
    }
}

.homepage .highlights-item-text {
    margin-bottom: 40px;
}

.homepage .highlights-item-text p {
    margin-bottom: .5em;
}

.homepage .highlights-item-text p:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {

    .homepage .highlights-item img {
        width: 100%;
        margin-bottom: 30px;
    }
}


/* line 517, assets/css/layout/_homepage.scss */
.homepage .hero {
    position: relative;
}

@media (max-width: 767px) and (min-width: 576px) {

    /* line 517, assets/css/layout/_homepage.scss */
    .homepage .hero {
        margin-bottom: 100px;
    }
}

/* line 526, assets/css/layout/_homepage.scss */
.homepage .hero-btn-scroll {
    width: 30px;
    height: 100px;
    padding: 0;
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateX(-56%);
    background: none;
    border: none;
    overflow: hidden;
    z-index: 12;
    cursor: default;
}

@media (max-width: 1399px) {

    /* line 526, assets/css/layout/_homepage.scss */
    .homepage .hero-btn-scroll {
        top: 80%;
    }
}

@media (max-width: 991px) {

    /* line 526, assets/css/layout/_homepage.scss */
    .homepage .hero-btn-scroll {
        top: 78%;
    }
}

@media (max-width: 767px) {

    /* line 526, assets/css/layout/_homepage.scss */
    .homepage .hero-btn-scroll {
        top: 80%;
    }
}

@media (max-width: 575px) {

    /* line 526, assets/css/layout/_homepage.scss */
    .homepage .hero-btn-scroll {
        top: 80%;
    }
}

/* line 558, assets/css/layout/_homepage.scss */
.homepage .hero-btn-scroll .icon-arrow {
    position: absolute;
    left: 50%;
    top: 15px;
    margin: 0;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #0047BB;
    transition: top .3s;
}

/* line 568, assets/css/layout/_homepage.scss */
.homepage .hero-btn-scroll::before {
    background: linear-gradient(180deg, #0047BB 0%, #41B6E6 42.75%, #FFED00 83.75%);
    -webkit-mask: unset;
    padding: 0;
    transform: translateY(calc(30px - 100%));
    height: 100px;
    transition: transform .3s;
}

/* line 580, assets/css/layout/_homepage.scss */
.homepage .hero-btn-scroll:hover .icon-arrow,
.homepage .hero-btn-scroll:focus .icon-arrow,
.homepage .hero-btn-scroll:active .icon-arrow {
    top: calc(100% - 15px);
}

/* line 584, assets/css/layout/_homepage.scss */
.homepage .hero-btn-scroll:hover::before,
.homepage .hero-btn-scroll:focus::before,
.homepage .hero-btn-scroll:active::before {
    transform: translateY(0);
}


/* Hero Banner */


.banner-hero {
    padding: 250px 0;
}

@media (max-width: 575px) {

    /* line 204, assets/css/modules/_banner.scss */
    .banner-hero {
        padding: 200px 0 250px 0;
    }
}

@media (min-width: 1400px) {

    /* line 204, assets/css/modules/_banner.scss */
    .banner-hero {
        min-height: 100vh;
    }
}

/* line 215, assets/css/modules/_banner.scss */
.banner-hero .gradient {
    display: flex;
    align-items: center;
    margin: 0 auto 50px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    padding: 6px 13px;
    box-sizing: border-box;
    color: #FFF;
    background: #000613;
    background-clip: padding-box;
    /* !importanté */
    border: solid 1px transparent;
    /* !importanté */
    border-radius: 100px;
}

/* line 232, assets/css/modules/_banner.scss */
.banner-hero .gradient:hover {
    text-decoration: none;
}

/* line 235, assets/css/modules/_banner.scss */
.banner-hero .gradient:hover:before {
    background: linear-gradient(270deg, #0047BB -0.18%, #41B6E6 48.87%, #FFED00 100%);
}

/* line 239, assets/css/modules/_banner.scss */
.banner-hero .gradient:hover p {
    color: rgba(210, 212, 215, 0.5);
}

/* line 242, assets/css/modules/_banner.scss */
.banner-hero .gradient:hover p.gradient-text {
    background: transparent;
    -webkit-text-fill-color: #FFFFFF;
}

/* line 250, assets/css/modules/_banner.scss */
.banner-hero .gradient:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.2) -0.18%, rgba(255, 255, 255, 0.2) 48.87%, rgba(255, 255, 255, 0.2) 100%);
    transition: all 300ms ease;
}

/* line 266, assets/css/modules/_banner.scss */
.banner-hero .gradient p {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #D2D4D7;
    transition: color 300ms ease;
}

/* line 274, assets/css/modules/_banner.scss */
.banner-hero .gradient p.gradient-text {
    text-transform: uppercase;
    font-weight: 700;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: linear-gradient(90deg, #1B72FF 0%, #41B6E6 51.04%, #FFED00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 0;
}

/* line 284, assets/css/modules/_banner.scss */
.banner-hero .gradient p.gradient-text i {
    font-size: 9px;
    vertical-align: middle;
}

/* line 291, assets/css/modules/_banner.scss */
.banner-hero .gradient .gradient-line {
    color: #3F4550;
    margin: 0 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-bottom: 0;
}

@media (max-width: 575px) {

    /* line 215, assets/css/modules/_banner.scss */
    .banner-hero .gradient {
        margin-bottom: 10px;
    }
}

/* line 307, assets/css/modules/_banner.scss */
.banner-hero h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    color: #FFF;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media (max-width: 991px) {

    /* line 307, assets/css/modules/_banner.scss */
    .banner-hero h2 {
        line-height: 36px;
        margin-top: 30px;
    }
}

/* line 324, assets/css/modules/_banner.scss */
.banner-hero .typewrite {
    width: 100%;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #0047BB 0%, #41B6E6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 60px;
}

@media (max-width: 769px) {

    .banner-hero .typewrite {
        font-size: 50px;
        line-height: 1.2;
        margin-bottom: 40px;
    }

    .banner-hero h2 {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .homepage .gradient-text {
        font-size: 40px;
    }

    .homepage .how-it-works p {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 30px;
    }

}

/* line 328, assets/css/modules/_banner.scss */
.banner-hero p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
}

/* line 335, assets/css/modules/_banner.scss */
.banner-hero .btn {
    background: radial-gradient(43.6% 43.6% at 49.98% 100.45%, #41B6E6 0%, #0047BB 55%, #003399 100%);
    padding: 15px 30px;
    font-weight: 700;
    transition: all 300ms ease;
    margin-top: 30px;
}

@media (max-width: 991px) {

    /* line 335, assets/css/modules/_banner.scss */
    .banner-hero .btn {
        margin-top: 0;
    }
}

/* line 346, assets/css/modules/_banner.scss */
.banner-hero .btn:hover,
.banner-hero .btn:focus,
.banner-hero .btn:active {
    background: radial-gradient(43.6% 43.6% at 49.98% 100.45%, #FFFAB8 0%, #FFED00 55%, #E6D502 100%);
    color: #0047BB;
}

/* line 352, assets/css/modules/_banner.scss */
.banner-hero .btn:hover i,
.banner-hero .btn:focus i,
.banner-hero .btn:active i {
    color: #0047BB;
}

/* line 357, assets/css/modules/_banner.scss */
.banner-hero .btn i {
    color: #FFED00;
    font-size: 12px;
}

@media (max-width: 575px) {

    /* line 363, assets/css/modules/_banner.scss */
    .banner-hero > p {
        margin-bottom: 20px !important;
    }
}

/* line 371, assets/css/modules/_banner.scss */

.explore {
    padding: 100px 0 170px;
}

.explore-card {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.30);
}

.explore-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.explore-card-content {
    padding: 20px 20px 60px 20px;
}

.explore-card-content h3 {
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 16px;
}

.explore-card-content p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0;
}

.mt-negative-60 {
    margin-top: -60px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.create-banner button {
    margin-bottom: 20px;
}

.create-banner h2 {
    font-size: 72px;
    line-height: 0.9;
    margin-bottom: 60px;
}

.create-banner h3 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 30px;
}

.create-banner p {
    margin-bottom: 0;
}

.create-banner-content {
    padding: 80px;
    border-radius: 20px;
}

.line-border-blue {
    background-color: #0047BB;
    height: 1px;
}

.row-bordered {
    margin: 160px 0;
}

.row-bordered .gradient-text {
    width: min-content;
    margin: 0;
}

.row-bordered p {
    color: #FFF;
    margin: 0;
}

@media (max-width: 769px) {
    .explore {
        padding: 20px 0;
    }

    h2 {
        font-size: 40px;
    }

    .homepage p {
        font-size: 18px;
        line-height: 1.4;
    }

    .ml-mobile-0 {
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    .mt-mobile-30 {
        margin-top: 30px;
    }

    .mt-mobile-60 {
        margin-top: 60px;
    }

    .create-banner {
        margin: 60px 0;
    }

    .create-banner-content {
        padding: 40px 20px;
    }

    .create-banner h2 {
        font-size: 44px;
        line-height: 1;
        margin-bottom: 30px;
    }

    .create-banner h3 {
        font-size: 22px;
    }

    .create-banner button {
        margin-bottom: 50px;
    }

    .row-bordered {
        margin: 80px 0;
    }

    .row-bordered .gradient-text {
        margin-bottom: 20px;
    }

    .row-bordered p {
        margin-bottom: 20px;
    }
}