<section class="homepage">
    <div class="container">
        <div class="hero">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3 text-center">
                    <div class="banner-hero">
                        <h2>Unleashing the Power of AI</h2>
                        <h1 class="typewrite">Discover Success Stories</h1>
                        <button (click)="goToCreateCaseStudy()" class="btn btn-default">Create New Success Story <i
                                class="icon-plus"></i></button>
                    </div>
                </div>
            </div>
            <div aria-label="Scroll to Next Section" class="btn btn-primary hero-btn-scroll"><i class="icon-arrow"></i>
            </div>
        </div>
        <div class="how-it-works" id="howItWorks">
            <div class="row">
                <div class="col-10 col-md-4">
                    <h3 class="gradient-text">Welcome to our AI Success Stories portal!</h3>
                </div>
                <div class="col-12 col-md-6 col-lg-7 col-xl-7 offset-md-1">
                    <p>Here, we celebrate the ingenuity of companies and users harnessing the extraordinary potential of
                        Artificial Intelligence. From groundbreaking innovations to remarkable problem-solving, get
                        inspired
                        as you explore how AI is transforming industries worldwide.</p>
                </div>
                <div class="line-border"></div>
            </div>
        </div>
        <div class="explore">
            <div class="row">
                <div class="col-12 col-md-3 d-flex flex-column justify-content-center">
                    <h2>Explore Success Stories</h2>
                    <p>Embark on a journey of discovery as you dive into a diverse array of success stories. Witness how
                        leading companies have leveraged AI to revolutionize their operations, create unparalleled
                        value, and
                        drive unprecedented growth.</p>
                    <a class="btn btn-default" href="/case-study-list">View All <i class="icon-arrow"></i></a>
                </div>
                <div class="col-12 col-md-8 offset-md-1">
                    <div class="row ml-40 ml-mobile-0 mt-mobile-60">
                        <div class="col-12 col-md-6 offset-md-1">
                            <div class="explore-card">
                                <img alt="" [src]="caseStudies[0].mediaurls[0]">
                                <div class="explore-card-content">
                                    <h3>{{caseStudies[0].title}}</h3>
                                    <p>{{caseStudies[0].summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mt-30">
                            <div class="explore-card">
                                <img alt="" [src]="caseStudies[1].mediaurls[0]">
                                <div class="explore-card-content">
                                    <h3>{{caseStudies[1].title}}</h3>
                                    <p>{{caseStudies[1].summary}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-mobile-30 mt-negative-60">
                            <div class="explore-card">
                                <img alt="" [src]="caseStudies[2].mediaurls[0]">
                                <div class="explore-card-content">
                                    <h3>{{caseStudies[2].title}}</h3>
                                    <p>{{caseStudies[2].summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-banner">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="create-banner-content"
                         style="background: url(../assets/img/banner-img.png), lightgray 50% / cover no-repeat;">
                        <div class="row">
                            <div class="col-12 col-md-5">
                                <h2>Create Your Own Story</h2>
                                <button (click)="goToCreateCaseStudy()" class="btn btn-default">Create Success Story <i
                                        class="icon-plus"></i></button>
                            </div>
                            <div class="col-12 col-md-6 offset-md-1 align-self-end">
                                <h3>Are you an AI trailblazer yourself? </h3>
                                <p>Share your triumphs with the world!<br>Our platform offers a chance to craft your
                                    very own AI
                                    success story and inspire others with your pioneering work.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row-bordered">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="line-border-blue"></div>
                </div>
            </div>
            <div class="row pt-100 pb-100">
                <div class="col-12 col-md-3">
                    <h3 class="gradient-text">Research Areas</h3>
                </div>
                <div class="col-12 offset-md-1 col-md-3 pr-50">
                    <p>Stay up-to-date with the latest advancements in AI research.</p>
                </div>
                <div class="col-12 col-md-2 text-right">
                    <a class="btn btn-default" href="">View All <i class="icon-arrow"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="line-border-blue"></div>
                </div>
            </div>
            <div class="row pt-100 pb-100">
                <div class="col-12 col-md-3 offset-md-3">
                    <h3 class="gradient-text">Application Areas</h3>
                </div>
                <div class="col-12 offset-md-1 col-md-3 pr-50">
                    <p>Discover the versatile applications of AI across industries and domains. </p>
                </div>
                <div class="col-12 col-md-2 text-right">
                    <a class="btn btn-default" href="">View All <i class="icon-arrow"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 offset-md-3 col-md-9">
                    <div class="line-border-blue"></div>
                </div>
            </div>
        </div>
    </div>
</section>