<div class="form-container">
    <h2>Create Industry Sector</h2>

    <p class="required-fields">Fields marked with <span class="asterisk">*</span> are required.</p>

    <form #industrySectorForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title <span class="asterisk">*</span></label>
            <input [(ngModel)]="industrySector.title" [disabled]="showPreview" id="title" name="title" required
                   type="text">
            <p *ngIf="industrySectorForm.controls['title'].invalid && industrySectorForm.controls['title'].touched"
               class="error-message">
                Title is required.
            </p>
        </div>
        <div class="form-group">
            <label for="description">Description <span class="asterisk">*</span></label>
            <textarea [(ngModel)]="industrySector.description" [disabled]="showPreview" id="description" name="description"
                      required></textarea>
            <p *ngIf="industrySectorForm.controls['description'].invalid && industrySectorForm.controls['description'].touched"
               class="error-message">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label for="website">Website</label>
            <input [(ngModel)]="industrySector.image_url" [disabled]="showPreview" id="website" name="website"
                   type="text">
        </div>

        <!-- Add other form fields as needed -->

        <button (click)="previewIndustrySector()" [disabled]="!industrySectorForm.valid && !showPreview"
                class="preview-btn {{ showPreview ? 'cancel' : 'preview' }}"
                type="button">{{ showPreview ? 'Cancel' : 'Preview Industry Sector' }}</button>

        <div *ngIf="showPreview" class="preview-section">
            <h3>Industry Sector Preview:</h3>
            <p><strong>Title:</strong> {{ industrySector.title }}</p>
            <p><strong>Description:</strong> {{ industrySector.description }}</p>
            <p><strong>Image:</strong>
                <img [src]="normalizeURL(industrySector.image_url)" alt="Thumbnail" class="thumbnail">
            </p>

            <!-- Add other preview fields as needed -->

            <button class="submit-btn" type="submit">Confirm</button>
        </div>
    </form>
</div>