.administration-container {
    background-color: #41B6E6;
    padding: 20px;
    text-align: center;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    background-color: #2980b9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1c6ea4;
}

.toast-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}

.toast-message.success {
    background-color: #27ae60;
}

.toast-message.error {
    background-color: #c0392b;
}

button.delete-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.delete-button:hover {
    background-color: #c0392b;
}