<div class="administration-container">
    <h1>Administration</h1>

    <div class="form-group">
        <label for="industry-sectors">Industry Sectors</label>
        <select [(ngModel)]="currentIndustrySector" id="industry-sectors" name="industry-sectors">
            <option *ngFor="let sector of industrySectors" [value]="sector.identifier">{{ sector.title }}</option>
        </select>
    </div>

    <div class="button-container">
        <button (click)="createIndustrySector()">Create New Industry Sector</button>
        <button (click)="deleteIndustrySector()" class="delete-button">Delete Industry Sector</button>
        <button (click)="editIndustrySector()">Edit Industry Sector</button>
    </div>


    <div class="form-group">
        <label for="applicationAreas">Application Areas</label>
        <select [(ngModel)]="currentApplicationArea" id="applicationAreas" name="applicationAreas">
            <option *ngFor="let area of applicationAreas" [value]="area.identifier">{{ area.title }}</option>
        </select>
    </div>


    <div class="button-container">
        <button (click)="createApplicationArea()">Create New Application Area</button>
        <button (click)="deleteApplicationArea()" class="delete-button">Delete Application Area</button>
        <button (click)="editApplicationArea()">Edit Application Area</button>
    </div>


    <div class="form-group">
        <label for="researchAreas">Research Areas</label>
        <select [(ngModel)]="currentResearchArea" id="researchAreas" name="researchAreas">
            <option *ngFor="let area of researchAreas" [value]="area.identifier">{{ area.title }}</option>
        </select>
    </div>


    <div class="button-container">
        <button (click)="createResearchArea()">Create New Research Area</button>
        <button (click)="deleteResearchArea()" class="delete-button">Delete Research Area</button>
        <button (click)="editResearchArea()">Edit Research Area</button>
    </div>
</div>


<div class="case-studies">
    <h2>Recent Case Studies</h2>
    <div>
        <label>
            <input (change)="fetchCaseStudies('published')" name="sortCriterion" type="radio" value="published"/>
            Sort by Date Published
        </label>
        <label>
            <input (change)="fetchCaseStudies('modified')" name="sortCriterion" type="radio" value="modified"/>
            Sort by Date Modified
        </label>
    </div>

    <!-- List of case studies -->
    <div class="case-study-grid">
        <div (click)="navigateToCaseStudy(caseStudy.identifier)" *ngFor="let caseStudy of recentCaseStudies"
             class="case-study-card">
            <h3>{{ caseStudy.title }}</h3>

            <p>{{ caseStudy.publisher}}</p>
            <p>
                <span *ngIf="sortingCriterion === 'published'">{{ caseStudy.datePublished | date: 'medium' }}</span>
                <span *ngIf="sortingCriterion === 'modified'">{{ caseStudy.dateModified | date: 'medium' }}</span>
            </p>
        </div>
    </div>
</div>