.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background: radial-gradient(129.11% 129.11% at 49.98% 100.45%, rgba(65, 182, 230, 0.80) 0%, rgba(0, 71, 187, 0.80) 55%, rgba(0, 51, 153, 0.80) 100%);
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 150px 50px;
    text-align: center;
}

.success-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.success-message p {
    font-size: 54px;
    font-weight: 300;
    line-height: 1;
}