
.keywords-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.keywords-container input {
    flex: 1;
    margin-right: 10px;
}

.add-keyword-btn {
    padding: 5px 10px;
}

.keywords-list,
.publications-list,
.ids-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.keywords-list li,
.publications-list li,
.ids-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 51px;
    background: rgba(217, 217, 217, 0.2);
    padding: 10px 20px;
    margin-right: 10px;
}

.remove-btn {
    margin-left: 10px;
    background-color: transparent;
    padding: 0;
}

.remove-btn i {
    transform: rotate(45deg);
    display: block;
    font-size: 14px;
}

.remove-btn i:before {
    vertical-align: middle;
}

.mediaurls-container,
.publications-container,
.ids-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.mediaurls-container input,
.publications-container input,
.ids-container input {
    flex: 1;
    margin-right: 10px;
}


.mediaurls-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.mediaurls-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
    width: fit-content;
    margin-right: 15px;
    margin-top: 15px;
}

.mediaurls-list .remove-btn {
    border-radius: 100%;
    padding: 10px;
    background: rgba(217, 217, 217, 0.2);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.mediaurls-list .remove-btn i {
    font-size: 14px;
    line-height: 10px;
}

.remove-media-url-btn {
    margin-left: 10px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.thumbnail-container {
    margin: 10px;
}

.thumbnail {
    width: auto;
    height: 150px;
    object-fit: cover;
    border: 1px solid rgba(217, 217, 217, 0.2);
}

.create-case-study {
    margin-bottom: 150px;
}


.create-case-study .banner {
    margin-top: 300px;
    margin-bottom: 80px;
}

.create-case-study .banner span {
    color: #FFED00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 24px */
    letter-spacing: -1.2px;
}

.create-case-study .banner h1 {
    color: #FFF;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%; /* 56px */
}

.create-case-study .add-button {
    background-color: transparent;
    padding: 5px 10px;
}

.create-case-study .btn-default {
    display: block;
    margin: 80px auto 0 auto;
}


#title,
#title::placeholder {
    font-size: 48px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 50px;
}

#title {
    padding: 14px 34px;
}


#summary,
#summary::placeholder {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
}


#summary {
    padding: 24px;
    height: 200px;
}

#description {
    height: 300px;
}

textarea {
    overflow: scroll;
    scrollbar-color: red orange;
    scrollbar-width: thin;
}

/* Track */
textarea::-webkit-scrollbar-track,
textarea::-moz-scrollbar-track {
    background: #f1f1f1 !important;
}

/* Handle */
textarea::-webkit-scrollbar-thumb,
textarea::-moz-scrollbar-thumb {
    background: #888 !important;
}

/* Handle on hover */
textarea::-webkit-scrollbar-thumb:hover {
    background: #888 !important;
}


.list-select-item {
    display: flex;
    flex-wrap: wrap;

}

.list-select-item label {
    display: flex;
    flex-direction: row;
    flex: 1 1 25%;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    padding-right: 50px;
    margin-bottom: 0;
}


.list-select-top {
    display: flex;
    justify-content: space-between;
}

.list-select-top .search {
    position: relative;
    height: 100%;
}

.list-select-top .search svg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.list-select-top .search input {
    padding: 16px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    height: 40px;
    width: 250px;
}

.search-submit {
    cursor: pointer;
}

.btn-grey-underline {
    pointer-events: all;
}

.btn-grey-underline:hover {
    color: #FFF;
    border: 1px solid #FFF;
}


@media (max-width: 991px) {
    .list-select-top {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .list-select-top .search input {
        width: 100%;
        height: 46px;
    }

    #title,
    #title::placeholder {
        font-size: 22px;
        margin-bottom: 10px;
    }

    #title {
        padding: 14px 24px;

    }

    #summary,
    #summary::placeholder {
        font-size: 18px;
    }

    .form-container h2 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .create-case-study .banner {
        margin-top: 180px;
    }

    .mediaurls-list {
        flex-direction: column;
    }


}