.category {
    margin-top: 20px;
    margin-bottom: 100px; /* Add margin-bottom to create space between blocks */
}


.category ul {
    list-style-type: none;
    padding: 0;
}

.category li {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.thumbnail-container {
    margin: 10px;
}

.thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}