<h1>Application Areas</h1>

<div class="category">
    <ul class="category-grid">
        <li *ngFor="let applicationArea of applicationAreas">
            <label>
                <input (change)="onApplicationAreaSelected(applicationArea)" [(ngModel)]="selectedApplicationArea" [value]="applicationArea"
                       type="radio">
                <div class="category-info">
                    <strong>{{ applicationArea.title }}</strong>
                    <!-- <div class="category-description">{{ applicationArea.description }}</div> -->
                </div>
            </label>
        </li>
    </ul>
</div>

<div *ngIf="selectedApplicationArea" class="case-studies">
    <h2>Success Stories for {{ selectedApplicationArea.title }}</h2>
    <div class="category-description">{{ selectedApplicationArea.description }}</div>
    <p>Total Success Stories: {{ totalCaseStudies }}</p>
    <div class="case-study-grid">
        <div (click)="navigateToCaseStudy(caseStudy.identifier)" *ngFor="let caseStudy of caseStudies"
             class="case-study-card">
            <h3>{{ caseStudy.title }}</h3>
            <p>{{ caseStudy.summary }}</p>
            <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail"
                 class="thumbnail">
            <!-- Add other case study details as needed -->
        </div>
    </div>
</div>
