<div class="create-case-study">
    <div class="banner">
        <!-- <div class="row">
           <div class="col-12 col-md-10 offset-md-1 text-center">
              <span>Success Stories</span>
              <h1>Edit Success Story</h1>
           </div>
        </div>
     </div> -->
        <div class="row">
            <div class="col-12">
                <div class="form-container">
                    <form #caseStudyForm="ngForm" (ngSubmit)="previewCaseStudy()">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                <h2>Home . Success Stories</h2>
                                <div class="form-group">
                                    <input [(ngModel)]="caseStudy.title" [disabled]="showPreview" id="title"
                                           name="title"
                                           placeholder="Success Story Name *" required
                                           type="text">
                                    <p *ngIf="caseStudyForm.controls['title'].invalid && caseStudyForm.controls['title'].touched"
                                       class="error-message">
                                        Title is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-2">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                              <textarea [(ngModel)]="caseStudy.summary" [disabled]="showPreview" id="summary"
                                        name="summary" placeholder="Summary *"
                                        required></textarea>
                                            <p *ngIf="caseStudyForm.controls['summary'].invalid && caseStudyForm.controls['summary'].touched"
                                               class="error-message">
                                                Summary is required.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                              <textarea [(ngModel)]="caseStudy.description" [disabled]="showPreview" id="description"
                                        name="description" placeholder="Description *"
                                        required></textarea>
                                            <p *ngIf="caseStudyForm.controls['description'].invalid && caseStudyForm.controls['description'].touched"
                                               class="error-message">
                                                Description is required.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-80">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="list-select-top">
                                                <h2>Select Industry Sectors</h2>
                                                <!--
                                                <div class="search">
                                                   <input type="search"  placeholder="Search for Industry Sectors">
                                                   <div class="search-submit">
                                                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <g id="search">
                                                         <path id="Vector" d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z" stroke="#909090" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                         <path id="Vector_2" d="M13.9996 14L11.0996 11.1" stroke="#909090" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                         </g>
                                                      </svg>
                                                   </div>
                                                </div>
                                                -->
                                            </div>

                                            <div *ngIf="!validIndustrySectors()" class="error-message">
                                                At least one industry sector is required.
                                            </div>

                                            <input
                                                    (input)="performSearchIndustrySector()"
                                                    [(ngModel)]="searchQueryIndustrySectors"
                                                    [ngModelOptions]="{standalone: true}"
                                                    placeholder="Search for Industry Sectorss"
                                                    type="search"
                                            />

                                            <div class="list-select-item">
                                                <ng-container *ngFor="let industrySector of industrySectors"
                                                              class="filter-item list-select-item"
                                                              id="industry-sectors">
                                                    <div *ngIf="industrySector.visible || industrySector.checked">
                                                        <label>
                                                            <div class="checkbox-container">
                                                                <input
                                                                        (ngModelChange)="changeSelection('industrySectors', industrySector.identifier, $event)"
                                                                        [(ngModel)]="industrySector.checked"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        type="checkbox">
                                                                <span class="checkmark"></span>
                                                            </div>
                                                            {{ industrySector.title }}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="text-center mt-50">
                                                <div (click)="moreIndustrySectors()" class="btn btn-grey-underline">Load
                                                    more
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="line-border"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="list-select-top">
                                                <h2>Select Application Areas</h2>
                                                <!--
                                                <div class="search">
                                                   <input type="search"  placeholder="Search for Application Areas">
                                                   <div class="search-submit">
                                                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <g id="search">
                                                         <path id="Vector" d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z" stroke="#909090" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                         <path id="Vector_2" d="M13.9996 14L11.0996 11.1" stroke="#909090" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                         </g>
                                                      </svg>
                                                   </div>
                                                </div>
                                                -->
                                            </div>

                                            <div *ngIf="!this.validApplicationAreas()"
                                                 class="error-message">
                                                At least one application area is required.
                                            </div>

                                            <input
                                                    (input)="performSearchApplicationArea()"
                                                    [(ngModel)]="searchQueryApplicationAreas"
                                                    [ngModelOptions]="{standalone: true}"
                                                    placeholder="Search for Application Areas"
                                                    type="search"
                                            />


                                            <div class="list-select-item">
                                                <ng-container *ngFor="let applicationArea of applicationAreas"
                                                              class="filter-item list-select-item"
                                                              id="application-areas">
                                                    <div *ngIf="applicationArea.visible || applicationArea.checked">
                                                        <label>
                                                            <div class="checkbox-container">
                                                                <input
                                                                        (ngModelChange)="changeSelection('applicationAreas', applicationArea.identifier, $event)"
                                                                        [(ngModel)]="applicationArea.checked"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        type="checkbox"
                                                                />
                                                                <span class="checkmark"></span>
                                                            </div>
                                                            {{ applicationArea.title }}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="text-center mt-50">
                                                <div (click)="moreApplicationAreas()" class="btn btn-grey-underline">
                                                    Load more
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-border"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <div class="list-select-top">
                                                <h2>Select Research Areas </h2>

                                                <!--
                                                <div class="search">
                                                   <input type="search" placeholder="Search for Research Areas">
                                                   <div class="search-submit">
                                                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                         <g id="search">
                                                         <path id="Vector" d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z" stroke="#909090" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                         <path id="Vector_2" d="M13.9996 14L11.0996 11.1" stroke="#909090" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                         </g>
                                                      </svg>
                                                   </div>
                                                </div>
                                                -->
                                            </div>


                                            <div *ngIf="!this.validResearchAreas()"
                                                 class="error-message">
                                                At least one research area is required.
                                            </div>

                                            <input
                                                    (input)="performSearchResearchArea()"
                                                    [(ngModel)]="searchQueryResearchAreas"
                                                    [ngModelOptions]="{standalone: true}"
                                                    placeholder="Search for Research Areas"
                                                    type="search"
                                            />

                                            <div class="list-select-item">
                                                <ng-container *ngFor="let researchArea of researchAreas"
                                                              class="filter-item list-select-item"
                                                              id="research-areas">
                                                    <div *ngIf="researchArea.visible || researchArea.checked">
                                                        <label>
                                                            <div class="checkbox-container">
                                                                <input
                                                                        (ngModelChange)="changeSelection('researchAreas', researchArea.identifier, $event)"
                                                                        [(ngModel)]="researchArea.checked"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        type="checkbox"
                                                                />
                                                                <span class="checkmark"></span>
                                                            </div>
                                                            {{ researchArea.title }}
                                                        </label>
                                                    </div>
                                                </ng-container>
                                            </div>

                                            <div class="text-center mt-50">
                                                <div (click)="moreResearchAreas()" class="btn btn-grey-underline">Load
                                                    more
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="line-border"></div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="mediaurls">Media URLs</label>
                                            <div class="mediaurls-container">
                                                <input [(ngModel)]="currentMediaUrl" [disabled]="showPreview"
                                                       id="mediaurls" name="mediaurls"
                                                       placeholder="URL"
                                                       type="text">
                                                <button (click)="addMediaUrl()" [disabled]="showPreview"
                                                        class="add-button add-media-url-btn"
                                                        type="button">
                                                    <svg fill="none" height="42" viewBox="0 0 42 42" width="42"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Group 863" opacity="0.4">
                                                            <rect height="41" id="Rectangle 379" rx="20.5"
                                                                  stroke="white"
                                                                  width="41" x="0.5" y="0.5"/>
                                                            <g id="Group 860">
                                                                <path d="M20.5147 13V28.0294" id="Vector" stroke="white"
                                                                      stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="2"/>
                                                                <path d="M13 20.5147H28.0294" id="Vector_2"
                                                                      stroke="white" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <ul class="mediaurls-list">
                                                <li *ngFor="let mediaUrl of caseStudy.mediaurls">
                                                    <img [src]="mediaUrl" alt="Thumbnail" class="thumbnail">
                                                    <button (click)="removeMediaUrl(mediaUrl)" [disabled]="showPreview"
                                                            class="remove-media-url-btn remove-btn"
                                                            type="button"><i class="icon-plus"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-border"></div>

                                <!-- HIDDEN ELEMENTS: CONNECTION TO DATASETS/PUBLICATIONS
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="publications">Publications id</label>
                                            <div class="publications-container">
                                                <input [(ngModel)]="currentPublicationId" [disabled]="showPreview"
                                                       id="publications"
                                                       name="publications" placeholder="Publication ID"
                                                       type="text">
                                                <button (click)="addPublicationId()" [disabled]="showPreview"
                                                        class="add-button add-publication-btn"
                                                        type="button">
                                                    <svg fill="none" height="42" viewBox="0 0 42 42" width="42"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Group 863" opacity="0.4">
                                                            <rect height="41" id="Rectangle 379" rx="20.5"
                                                                  stroke="white"
                                                                  width="41" x="0.5" y="0.5"/>
                                                            <g id="Group 860">
                                                                <path d="M20.5147 13V28.0294" id="Vector" stroke="white"
                                                                      stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="2"/>
                                                                <path d="M13 20.5147H28.0294" id="Vector_2"
                                                                      stroke="white" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <ul class="publications-list">
                                                <li *ngFor="let publicationId of caseStudy.publications_ids">
                                                    {{ publications[publicationId].title || publicationId }}
                                                    <button (click)="removePublicationId(publicationId)"
                                                            [disabled]="showPreview"
                                                            class="remove-publication-btn remove-btn"
                                                            type="button"><i class="icon-plus"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-border"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="datasetsIds">Datasets Ids</label>
                                            <div class="ids-container">
                                                <input [(ngModel)]="currentDatasetId" [disabled]="showPreview"
                                                       id="datasetsIds"
                                                       name="datasetsIds"
                                                       type="number">
                                                <button (click)="addDatasetId()" [disabled]="showPreview"
                                                        class="add-button add-id-btn" type="button">
                                                    <svg fill="none" height="42" viewBox="0 0 42 42" width="42"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Group 863" opacity="0.4">
                                                            <rect height="41" id="Rectangle 379" rx="20.5"
                                                                  stroke="white"
                                                                  width="41" x="0.5" y="0.5"/>
                                                            <g id="Group 860">
                                                                <path d="M20.5147 13V28.0294" id="Vector" stroke="white"
                                                                      stroke-linecap="round" stroke-linejoin="round"
                                                                      stroke-width="2"/>
                                                                <path d="M13 20.5147H28.0294" id="Vector_2"
                                                                      stroke="white" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <ul class="ids-list">
                                                <li *ngFor="let id of caseStudy.datasets_ids">
                                                    {{ datasets[id].name || id }} : {{datasets[id].description || id}}
                                                    <button (click)="removeDatasetId(id)" [disabled]="showPreview"
                                                            class="remove-id-btn remove-btn"
                                                            type="button"><i class="icon-plus"></i></button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <div class="line-border"></div>
                                -->

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="keywords">Keywords</label>
                                            <div class="keywords-container">
                                                <input [(ngModel)]="currentKeyword" [disabled]="showPreview"
                                                       id="keywords"
                                                       name="keywords" placeholder="Insert Keywords"
                                                       type="text">
                                                <button (click)="addKeyword()" [disabled]="showPreview"
                                                        class="add-button add-keyword-btn"
                                                        type="button">
                                                    <svg fill="none" height="42" viewBox="0 0 42 42" width="42"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <g id="Group 863" opacity="0.4">
                                                            <rect height="41" id="Rectangle 379" rx="20.5"
                                                                  stroke="white"
                                                                  width="41" x="0.5"
                                                                  y="0.5"/>
                                                            <g id="Group 860">
                                                                <path d="M20.5147 13V28.0294" id="Vector" stroke="white"
                                                                      stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="2"/>
                                                                <path d="M13 20.5147H28.0294" id="Vector_2"
                                                                      stroke="white" stroke-linecap="round"
                                                                      stroke-linejoin="round" stroke-width="2"/>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </button>
                                            </div>
                                            <ul class="keywords-list">
                                                <li *ngFor="let keyword of caseStudy.keywords">
                                                    {{ keyword }}
                                                    <button (click)="removeKeyword(keyword)" [disabled]="showPreview"
                                                            class="remove-keyword-btn remove-btn"
                                                            type="button"><i class="icon-plus"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-border"></div>
                                <div class="row">

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Story Data</label>
                                            <input [(ngModel)]="caseStudy.publisher" [disabled]="showPreview"
                                                   id="publisher" name="publisher"
                                                   placeholder="Publisher *" required
                                                   type="text">
                                            <p *ngIf="caseStudyForm.controls['publisher'].invalid && caseStudyForm.controls['publisher'].touched"
                                               class="error-message">
                                                Publisher is required.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input [(ngModel)]="caseStudy.website" [disabled]="showPreview" id="website"
                                                   name="website"
                                                   placeholder="Website"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>

                                <!-- <button type="button" class="btn btn-default preview-btn preview">
                                   Preview Case Study <i class="icon-plus"></i></button>
                                 -->

                                <button (click)="previewCaseStudy()"
                                        [disabled]="(!caseStudyForm.valid || !validIndustrySectors() || !validApplicationAreas() || !validResearchAreas()) "
                                        class="btn btn-default preview-btn preview {{ 'preview' }}"
                                        type="button">{{ 'Preview Case Study' }} <i class="icon-plus"></i></button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>