<!-- 
<h1>Research Areas</h1>

<div class="category">
  <ul class="category-grid">
    <li *ngFor="let researchArea of researchAreas">
      <label>
        <input type="radio" [value]="researchArea" [(ngModel)]="selectedResearchArea" (change)="onResearchAreaSelected(researchArea)">
        <div class="category-info">
          <strong>{{ researchArea.title }}</strong>
        </div>
      </label>
    </li>
  </ul>
</div>

<div class="case-studies" *ngIf="selectedResearchArea">
  <h2>Success Stories for {{ selectedResearchArea.title }}</h2>
  <div class="category-description">{{ selectedResearchArea.description }}</div>
  <p>Total Success Stories: {{ totalCaseStudies }}</p>
  <div class="case-study-grid">
    <div class="case-study-card" *ngFor="let caseStudy of caseStudies" (click)="navigateToCaseStudy(caseStudy.identifier)">
      <h3>{{ caseStudy.title }}</h3>
      <p>{{ caseStudy.summary }}</p>
      <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail" class="thumbnail">
    </div>
  </div>
</div>
 -->


<div class="case-studies">
    <div class="banner">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-1">
                <span>Realizing the Vision:</span>
                <h1 class="typewrite">Research Areas</h1>
            </div>
            <div class="col-12 col-md-5">
                <!-- <div class="button-container">
                   <button (click)="goToCreateCaseStudy()" class="btn btn-default">Create New Success Story <i
                         class="icon-arrow"></i></button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="filter-container">
        <div class="row">
            <div class="col-12">
                <button (click)="toggleFilters()" class="toggle-button">
                    <svg fill="none" height="18" viewBox="0 0 19 18" width="19" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.9999 2.25H1.99988L7.99988 9.345V14.25L10.9999 15.75V9.345L16.9999 2.25Z"
                              stroke="#FFED00"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Filter Success Stories by <strong>Research Areas</strong>
                </button>
            </div>
        </div>
        <div *ngIf="showFilters">
            <div class="row filter-results">
                <div class="col-12 col-md-10 offset-md-1">
                    <div class="filter-columns">

                        <!-- Research Areas Filter -->
                        <div class="filter-column">
                            <h3>Research Areas</h3>
                            <div class="filter-column-content">
                                <div *ngFor="let researchArea of researchAreas" class="filter-item list-select-item">
                                    <label>
                                        <div class="radio-container">
                                            <input (change)="changeSelection()" [(ngModel)]="researchArea.checked"
                                                   type="checkbox">
                                            <span class="checkmark"></span>
                                        </div>
                                        {{ researchArea.title }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="case-study-grid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="counter-container">
                    <span>{{ totalCaseStudies }}</span>
                    <p>Total Success <br>Stories</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div (click)="navigateToCaseStudy(caseStudy.identifier)" *ngFor="let caseStudy of caseStudies"
                 class="col-12 col-md-4 mb-40">
                <div class="case-study-card ">
                    <img *ngIf="caseStudy.mediaurls.length > 0" [src]="caseStudy.mediaurls[0]" alt="Thumbnail"
                         class="thumbnail">
                    <h3>{{ caseStudy.title }}</h3>
                    <p>{{ caseStudy.summary }}</p>
                </div>
            </div>
        </div>
    </div>
</div>