.category {
    margin-top: 20px;
    margin-bottom: 100px;
    /* Add margin-bottom to create space between blocks */
}


.category ul {
    list-style-type: none;
    padding: 0;
}

.category li {
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

label {
    display: inline-flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.thumbnail-container {
    margin: 10px;
}

.thumbnail {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.case-studies {
    margin-bottom: 90px;
}

.case-studies .banner {
    margin-top: 300px;
    margin-bottom: 150px;
}

.case-studies .banner span {
    color: #909090;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 22.4px */
}

.filter-columns {
    display: flex;
    flex-direction: column;
}

.filter-columns h3 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 30px;
}

.filter-column-content {
    display: flex;
    flex-wrap: wrap;
}

.filter-column-content .filter-item {
    flex: 0 0 20%;
    margin-bottom: 30px;
    padding-right: 40px;
}

.filter-column-content .checkmark {
    top: 50%;
    transform: translateY(-50%);
}

.filter-column-content .filter-item label {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.toggle-button {
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    padding: 25px 0;

}

.filter-container svg {
    vertical-align: text-bottom;
}


.filter-results {
    padding: 50px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 0;
}

.counter {
    font-size: 12px;
    /* Adjust the font size as needed */
    color: #777;
    /* Dark grey color */
}

.case-studies {
    margin-bottom: 90px;
}

.case-studies .banner {
    margin-top: 300px;
    margin-bottom: 150px;
}

.case-studies .banner span {
    color: #909090;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    /* 22.4px */
}

.filter-container {
    border-radius: 20px;
    background: #0047BB;
    width: 100%;
    padding: 0 30px;

}

.toggle-button {
    background-color: transparent;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    padding: 25px 0;

}

@media (max-width: 992px) {
    .case-studies .banner {
        margin-top: 200px;
        margin-bottom: 80px;
    }

    .filter-column-content .filter-item {
        flex: 0 0 100%;
    }

    h1 {
        text-align: left;
    }
}
