<header [ngClass]="{'mobile-opened': headerOpened}" id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header-nav">
                    <div class="header-nav-logo">
                        <a href="index.php"><img alt="" class="logotipo" src="../assets/img/logo.svg"><img
                                alt="" class="logotipo-grey d-none" src="../assets/img/logo-cinza.svg"></a>
                        <div class="icon-header">
                            <div (click)="toggleMenuMobile()" *ngIf="isMobile" id="open-mobile-menu">
                                <div class="hamburguer d-lg-none d-xl-none">
                                    <span></span>
                                </div>
                                <div class="hamburguer-close d-lg-none d-xl-none">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [style.visibility]="isHeaderItemsVisible ? 'visible' : 'hidden'" id="header-items">
                        <ul class="main-menu">
                            <li (click)="toggleMenuMobile()" class="menu">
                                <div class="menu-link-mobile">
                                    <a class="menu-link" routerLink="/case-study-list" routerLinkActive="active">Success
                                        Stories <i class="icon-arrow d-block d-lg-none"></i></a>
                                </div>
                            </li>
                            <li (click)="toggleMenuMobile()" class="menu">
                                <div class="menu-link-mobile">
                                    <a class="menu-link" routerLink="/research-area" routerLinkActive="active">Research
                                        Areas <i class="icon-arrow d-block d-lg-none"></i></a>
                                </div>
                            </li>
                            <li (click)="toggleMenuMobile()" class="menu">
                                <div class="menu-link-mobile">
                                    <a class="menu-link" routerLink="/industry-application" routerLinkActive="active">Industry and
                                        Application Areas <i class="icon-arrow d-block d-lg-none"></i></a>
                                </div>
                            </li>
                        </ul>
                        <a class="btn btn-default login login-mobile" routerLink="/administration">Login
                            <svg fill="none" height="14" viewBox="0 0 12 12" width="14"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 10.5V9.5C10 8.96957 9.78929 8.46086 9.41421 8.08579C9.03914 7.71071 8.53043 7.5 8 7.5H4C3.46957 7.5 2.96086 7.71071 2.58579 8.08579C2.21071 8.46086 2 8.96957 2 9.5V10.5"
                                      stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 5.5C7.10457 5.5 8 4.60457 8 3.5C8 2.39543 7.10457 1.5 6 1.5C4.89543 1.5 4 2.39543 4 3.5C4 4.60457 4.89543 5.5 6 5.5Z"
                                      stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                    <!--
                    <a class="btn btn-default login login-desktop" routerLink="/login">Login
                        <svg fill="none" height="14" viewBox="0 0 12 12" width="14" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 10.5V9.5C10 8.96957 9.78929 8.46086 9.41421 8.08579C9.03914 7.71071 8.53043 7.5 8 7.5H4C3.46957 7.5 2.96086 7.71071 2.58579 8.08579C2.21071 8.46086 2 8.96957 2 9.5V10.5"
                                  stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 5.5C7.10457 5.5 8 4.60457 8 3.5C8 2.39543 7.10457 1.5 6 1.5C4.89543 1.5 4 2.39543 4 3.5C4 4.60457 4.89543 5.5 6 5.5Z"
                                  stroke="#FFED00" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    -->

                    <div class="user-info">
                        <!--If the user is logged show the name, otherwise "Not logged"-->
                        <p *ngIf="!isAuthenticated">Not logged</p>
                        <p *ngIf="isAuthenticated">Logged: {{ user }}</p>
                        <!--The button invokes the logout or login functions-->
                        <button class="btn btn-default login login-desktop" (click)="isAuthenticated ? logout() : login()">
                            <!--And shows the corresponding text-->
                            {{ isAuthenticated ? "Logout" : "Login" }}
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</header>

<div class="main-content container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3 d-flex flex-wrap flex-lg-column justify-content-between mb-m-50">
                    <a class="d-block" href="">
                        <img alt="" class="logotipo-branco" src="../assets/img/logo-white.svg">
                    </a>
                    <div class="flag-container d-none d-md-flex">
                        <img alt="" class="flag" src="../assets/img/flag.png">
                    </div>
                </div>
                <div class="col-6 col-lg-2 d-flex flex-wrap flex-lg-column justify-content-between align-items-center align-items-lg-start menu-footer">
                    <ul class="footer-menu">
                        <li>
                            <a href="">Projects</a>
                        </li>
                        <li>
                            <a href="">News</a>
                        </li>
                        <li>
                            <a href="">Events</a>
                        </li>
                        <li>
                            <a href="">Opportunities</a>
                        </li>
                        <li>
                            <a href="">Contribute</a>
                        </li>
                    </ul>
                    <a class="btn btn-success mb-m-50" href="">For developers</a>
                </div>
                <div class="col-6 col-lg-2 d-lg-flex flex-lg-column justify-content-lg-between links-footer">
                    <div class="footer-top-social mb-m-50">
                        <h4>Follow us</h4>
                        <a href="">
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icon-linkedin"></i>
                        </a>
                        <a href="">
                            <i class="icon-youtube"></i>
                        </a>
                    </div>
                    <ul class="footer-bottom-list">
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>
                    </ul>
                    <a class="btn btn-success mb-m-50" href="">About the project</a>
                </div>
                <div class="col-12 col-lg-5 d-flex flex-wrap flex-lg-column justify-content-between">
                    <div class="border-container">
                        <h3>Go back to the marketing portal</h3>
                        <a class="mt-m-40 btn btn-secondary" href="">Maketing portal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">

                    <p class='footer-bottom-title'>©2023 All Rights Reserved AIoD</p>
                </div>


                <div class="col-6 d-flex d-md-none">
                    <div class="flag-container">
                        <img alt="" class="flag" src="../assets/img/flag.png">
                    </div>
                </div>
                <div class="col-6 col-lg-6 d-flex flex-column flex-lg-row align-items-end align-items-lg-center justify-content-end">

                    <a href="#"><img alt="" class="loba-logo" src="../assets/img/loba.svg"></a>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Cookies -->
<div class="cookies-wrapper">
    <div class="cookies-box">
        <div class="container">
            <div class="cookies-description">
                <div class="cookies__title">🍪 Our website uses cookies</div>
                <p class="cookies-bar-message">Our website uses cookies to improve your browsing experience on our
                    website. By continuing to browse this website, the user is expressly agreeing to the placement of
                    cookies on their computer that allow measuring visit statistics and improving the quality of the
                    content offered. Know more.</p>
                <div class="row">
                    <div class="col-12 col-sm-6 order-2 cookies-settings-link">
                        <button class="btn btn-grey">Cookies options</button>
                    </div>
                    <div class="col-12 col-sm-6 order-1">
                        <button class="btn btn-default" id="accept-cookie">Accept Cookies <i class="icon-arrow"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cookies-settings">
                <div class="row">
                    <div class="col-12 col-sm-7">
                        <div class="form-group">
                            <input checked disabled id="cookie-required" name="cookie-radio" type="checkbox"
                                   value="required"><label
                                class="form-check-label" for="cookie-required" style="pointer-events: none">Cookies
                            estritamente
                            necessários</label>
                            <div class="clearfix"></div>
                            <small class="cookie-info">
                                Estes cookies são essenciais para fornecer serviços disponíveis no nosso site e permitir
                                que possa
                                usar determinados recursos no nosso site.
                            </small>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <input checked id="cookie-functional" name="cookie-radio" type="checkbox"
                                   value="functional"><label
                                class="form-check-label" for="cookie-functional" style="pointer-events: none">Cookies de
                            funcionalidade</label>
                            <div class="clearfix"></div>
                            <small class="cookie-info">
                                Estes cookies são usados ​​para fornecer uma experiência mais personalizada no nosso
                                site e para
                                lembrar as escolhas que faz ao usar o nosso site.
                            </small>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <input checked id="cookie-analytical" name="cookie-radio" type="checkbox"
                                   value="analytical"><label
                                class="form-check-label" for="cookie-analytical">Cookies de medição e desempenho</label>
                            <div class="clearfix"></div>
                            <small class="cookie-info">
                                Estes cookies são usados ​​para coletar informações para analisar o tráfego no nosso
                                site e entender
                                como é que os visitantes estão a usar o nosso site.
                            </small>
                        </div>
                    </div>
                    <div class="col-12 col-sm-5 cookies-message">
                        <p data-id="cookie-required" style="display: block;">
                            <b>Cookies estritamente necessários</b>
                            Estes cookies são essenciais para fornecer serviços disponíveis no nosso site e permitir que
                            possa usar
                            determinados recursos no nosso site.
                            Sem estes cookies, não podemos fornecer certos serviços no nosso site.
                        </p>
                        <p data-id="cookie-functional">
                            <b>Cookies de funcionalidade</b>
                            Estes cookies são usados ​​para fornecer uma experiência mais personalizada no nosso site e
                            para lembrar
                            as escolhas que faz ao usar o nosso site.
                            Por exemplo, podemos usar cookies de funcionalidade para se lembrar das suas preferências de
                            idioma e/
                            ou os seus detalhes de login.
                        </p>
                        <p data-id="cookie-analytical">
                            <b>Cookies de medição e desempenho</b>
                            Estes cookies são usados ​​para coletar informações para analisar o tráfego no nosso site e
                            entender
                            como é que os visitantes estão a usar o nosso site.
                            Por exemplo, estes cookies podem medir fatores como o tempo despendido no site ou as páginas
                            visitadas,
                            isto vai permitir entender como podemos melhorar o nosso site para os utilizadores.
                            As informações coletadas por meio destes cookies de medição e desempenho não identificam
                            nenhum
                            visitante individual.
                        </p>
                    </div>
                </div>
                <div class="row mt-20">
                    <div class="col-12 col-sm-6">
                        <button class="btn btn-default" id="submit-preferences">Submeter Preferências <i
                                class="icon-arrow"></i></button>
                    </div>
                    <div class="col-12 col-sm-6 cookies-settings-cancel">
                        <button class="btn btn-grey">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cookies ends -->

